<div class="col-md-12 text-center">
	<div id="nav"><script>$('#nav').load('/navbar.html');</script></div>
	<h1>Create/Edit Character</h1>
	<input type="hidden" value="{{_id}}" id="charId">
	<div class="container" id="create-form">
		<div class="form-group form-inline">
			<label for="name">Name</label>
			<input type="text" class="form-control pull-right" value="{{name}}" id="name">
		</div>

		<div class="form-group form-inline">
			<label for="hp">Hit Points</label>
			<input type="number" class="form-control pull-right" value="{{hp}}" id="hp">
		</div>

		<div class="form-group form-inline">
			<label for="ac">Armor Class</label>
			<input type="number" class="form-control pull-right" value="{{ac}}" id="ac">
		</div>

		<div class="form-group form-inline">
			<label for="speed">Speed</label>
			<input type="number" class="form-control pull-right" value="{{speed}}" id="speed">
		</div>

		<div class="form-group form-inline float-right">
			<label for="proficiency">Proficiency</label>
			<input type="number" class="form-control pull-right" value="{{proficiency}}" id="proficiency">
		</div>
		
		<div class="form-group form-inline">
			<label for="str">Strength</label>
			<input type="number" class="form-control pull-right" value="{{str}}" id="str">
		</div>

		<div class="form-group form-inline">
			<label for="dex">Dexterity</label>
			<input type="number" class="form-control pull-right" value="{{dex}}" id="dex">
		</div>

		<div class="form-group form-inline">
			<label for="con">Constitution</label>
			<input type="number" class="form-control pull-right" value="{{con}}" id="con">
		</div>

		<div class="form-group form-inline">
			<label for="int">Intelligence</label>
			<input type="number" class="form-control pull-right" value="{{int}}" id="int">
		</div>

		<div class="form-group form-inline">
			<label for="wis">Wisdom</label>
			<input type="number" class="form-control pull-right" value="{{wis}}" id="wis">
		</div>

		<div class="form-group form-inline">
			<label for="char">Charisma</label>
			<input type="number" class="form-control pull-right" value="{{char}}" id="char">
		</div>

		<div class="form-group form-inline">
			<label for="class">Class</label>
			<select class="form-control pull-right" id="class">
				<option value="{{class}}">{{class}}</option>
				<option value="Barbarian">Barbarian</option>
				<option value="Bard">Bard</option>
				<option value="Cleric">Cleric</option>
				<option value="Druid">Druid</option>
				<option value="Fighter">Fighter</option>
				<option value="Monk">Monk</option>
				<option value="Paladin">Paladin</option>
				<option value="Ranger">Ranger</option>
				<option value="Rogue">Rogue</option>
				<option value="Sorcerer">Sorcerer</option>
				<option value="Warlock">Warlock</option>
				<option value="Wizard">Wizard</option>
				<option value="Monster">Monster</option>
			</select>
		</div>

		<div class="form-group form-inline">
			<label for="race">Race</label>
			<select class="form-control pull-right" id="race">
				<option value="{{race}}">{{race}}</option>
				<option value="Dwarf">Dwarf</option>
				<option value="Elf">Elf</option>
				<option value="Halfling">Halfling</option>
				<option value="Human">Human</option>
				<option value="Dragonborn">Dragonborn</option>
				<option value="Gnome">Gnome</option>
				<option value="Half-elf">Half-elf</option>
				<option value="Half-orc">Half-orc</option>
				<option value="Tiefling">Tiefling</option>
				<option value="Monster">Monster</option>
			</select>
		</div>

		<div class="form-group form-inline">
			<label for="description">Description</label>
			<input type="text" class="form-control pull-right" value="{{description}}" id="description">
		</div>
		<button class="btn btn-primary home-btn pull-right" onclick="saveCharacter()">Submit</button>
	</div>
</div>