<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Dice Roller</h4>
		</div>
		<div class="modal-body">
			<button class="btn btn-primary btn-dice-modal" onclick="roll(4)">d4</button><input type="number" style="width:35px;" value="0" id="d4" disabled>
			<br /><br />
			<button class="btn btn-primary btn-dice-modal" onclick="roll(6)">d6</button><input type="number" style="width:35px;" value="0" id="d6" disabled>
			<br /><br />
			<button class="btn btn-primary btn-dice-modal" onclick="roll(8)">d8</button><input type="number" style="width:35px;" value="0" id="d8" disabled>
			<br /><br />
			<button class="btn btn-primary btn-dice-modal" onclick="roll(10)">d10</button><input type="number" style="width:35px;" value="0" id="d10" disabled>
			<br /><br />
			<button class="btn btn-primary btn-dice-modal" onclick="roll(12)">d12</button><input type="number" style="width:35px;" value="0" id="d12" disabled>
			<br /><br />
			<button class="btn btn-primary btn-dice-modal" onclick="roll(20)">d20</button><input type="number" style="width:35px;" value="0" id="d20" disabled>
		</div>
	</div>
</div>
