<div class="col-md-12">
	<div id="nav"><script>$('#nav').load('/navbar.html');</script></div>
	<div class="container text-center">
		<h1>Create Encounter</h1>
		<br />
		<br />
		<input type="hidden" value="0" id="char-count">
		<div class="form-inline">
			<select class="form-control" id="addCharacter">
				{{#each characters}}
					<option id="{{name}}" value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
			<button class="btn btn-add" onclick="addToEncounter()">Add to Encounter</button>
		</div>
		<br />
		<br />
		<div id="encounter-characters">
			<table class="table table-bordered table-striped" id="character-table">
				<thead>
					<tr>
						<th>Character Name</th>
						<th>Initiative</th>
						<th>Remove?</th>
					</tr>
				</thead>
				<tbody id="characters">
				</tbody>
			</table>
		</div>

		<button class="btn btn-lg btn-primary startBtn" onclick="startBattle()" id="start-button" disabled>Start Battle</button>
	</div>
</div>