<div class="col-md-12">
	<div id="nav"><script>$('#nav').load('/navbar.html');</script></div>
	<div class="container text-center">
		<h2>RunDnD</h2>
		<img src="https://www.underconsideration.com/brandnew/archives/dungeons_and_dragons_40_ampersand_flat.png" height="300" widght="300">
		<br />
		<button class="btn btn-lg btn-primary home-btn" onclick="editCharacter()">Create New Character</button>
		<button class="btn btn-lg btn-primary home-btn" onclick="goToEncounter()">Start New Encounter</button>
	</div>
</div>